.containerx {

    border-radius: 5px;
    background-color: #ffb71c;
    padding: 20px;
    height: 50%;
    margin: auto;
    width: 60%;
    border: 3px solid #11101d;
    padding: 10px;
    }