*{
    margin: 0;
    padding: 0;
}
.textgallery{
    display: flex;
    justify-content: center;
    font-family: font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.G{
    /* background-color: aqua; */
    font-size: 3.5em;
    
    color: #ffb71c;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}

.llery{
    font-size: 3.5em;
    
    color: #002147;
    text-align: center;
    letter-spacing: 1px;
    position: relative;

}

.logogallery{
    /* background-color: rgb(104, 28, 28); */
    color: #ffb71c;
    text-align: center;
    font-size: 2em;
}






.services{
    /* background-color: rgb(236, 150, 150); */
    color: #002147;
    /* opacity: 0%; */
    display: flex;
    justify-content: center;
}
.center{
    /* background-color: aquamarine; */
   
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.left{
    /* background-color: rgb(124, 88, 255); */
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    
  
    padding-top: 20px;
    /* float: left; */
    padding-left: 50px;
    position: relative;
    margin-bottom: 40px;
    padding-right: 20px;
}
.right{
    /* background-color: rgb(255, 0, 140); */
    display: inline-block;
    height: 100%;
    width: 100%;
    
    padding-top: 20px;
    /* width: 30%; */
    /* float: right; */
    padding-left: 50px;
    position: relative;
    margin-bottom: 40px;
    padding-right: 20px;
}

#leftdiv{
    color: #ffb71c;
    font-weight: bold;
}
#rightdiv{
    color: #ffb71c;
    font-weight: bold;  
}


.servicesbottam{
    display: flex;
    color: #002147;
}

.leftdown{
     /* background-color: rgb(124, 88, 255); */
   display: inline;
   height: 100%;
   width: 100%;
   padding-left: 50px;
   position: relative;
   margin-bottom: 40px;
   padding-right: 20px;
   line-height: 1.6;
   text-align: center;

}
.rightdown{
    /* background-color: rgb(255, 0, 140); */
    display: inline;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    position: relative;
    margin-bottom: 40px;
    padding-right: 20px;
    line-height: 1.6;
    text-align: center;
   
}
#bottamstyle{
    color: #ffb71c;
    font-weight: bold;  
}