*{
    padding: 0;
    margin: 0;
}
.dhruvin{
    
   text-align: center;
}

.img{
    margin: 5px;
    /* border: 1px solid #ccc; */
    margin-left: auto;
    margin-right: auto ;
    height: 20%;
    width: 30%;
    text-align: center; 
    
  }
  
  .img:hover {
    border: 1px solid #777;
  }
  .img img {
    width: 100%;
    height: auto;
    
  }
  .desc {
    
    text-align: center;
  }
  .detail{
    border: 1px solid #777;
    height: auto;
    width: auto;
    text-align: center;
    
  }


  
  